/car_sales.csv
/line1.png
/line2.png
/line3.png
/line4.png
/npbasic.ipynb
/npbasic1.ipynb
/npbasic2.ipynb
/pdbasic.ipynb
/pdbasic1.ipynb
/pltbasic.ipynb
/pltbasic1.ipynb
/pltbasic2.ipynb
/proj.ipynb
/siya.ipynb
/text_new.csv
/text_new1.csv